<div class="jumbotron">
  <h1>Coder Shortcuts</h1>
  <p class="lead">Shortcuts to improve your workflow and save you time!</p>
  <p>
    <%= link_to 'Browse Shortcuts', shortcuts_path, class: "btn btn-lg btn-success", role: "button" %>
    <!-- <a class="btn btn-lg btn-success" href="shortcuts" role="button">Browse Shortcuts</a> -->
  </p>

</div>
