<div class="jumbotron" id ="jumbo-landing">
  <span id="title">Coder Shortcuts</span>
  <p class="lead">Discover the shortcuts in your workflow.</p>
  <p>
    <%= link_to 'Browse Shortcuts', shortcuts_path, class: "btn btn-lg btn-primary", id: "browse", role: "button" %>
    <!-- <a class="btn btn-lg btn-success" href="shortcuts" role="button">Browse Shortcuts</a> -->
  </p>
</div>