<!--
TODO: Using AJAX (no page refreshes), create a multi-step
process for adding a shortcut:
1) Add a new shortcut and save it.
2) Add steps individually and associate with shortcut_id
3) Add tags individually and associate with shortcut_id
-->


<h1>New shortcut</h1>

<%= render 'form' %>

<%= link_to 'Back', shortcuts_path %>
