// Place all the styles related to the Shortcuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Custom variables for SCSS
$powder-blue: rgb(182, 212, 214);
$light-beige: rgb(255, 254, 233);
$btn-red: #d83c3c;
$btn-red-hover: #c42f2f;
$btn-blue: #428bca;
$btn-blue-hover: #3276b1;

/* SEARCH BAR BEGIN */

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

/* Form wrapper styling */
.form-wrapper {
  width: 450px;
  padding: 15px;
  margin: 50px auto 50px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

  /* Form text input */

  input {
    width: 300px;
    // height: 20px;
    height: 100%;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
  }

  input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }

  input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  }

  input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  /* Form submit button */

  button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: $btn-blue;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }

  button:hover{
    background: $btn-blue-hover;
  }

  button:active, button:focus {
    background: $btn-blue-hover;
    outline: 0;
  }

  button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent $btn-blue transparent;
    top: 12px;
    left: -6px;
  }

  button:hover:before{
    border-right-color: $btn-blue-hover;
  }

  button:focus:before, button:active:before {
    border-right-color: $btn-blue-hover;
  }

  button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
  }
}

/* SEARCH BAR END */