// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$powder-blue: rgb(182, 212, 214);
$light-beige: rgb(255, 254, 233);
$red-search: #d83c3c;
$red-dark-search: #c42f2f;
